@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
}

/* Configure dark mode to use class strategy */
@variant dark (&:where(.dark, .dark *));

:root {
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}